* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

root{

    --primary-color: #ffffff;
    --bg-section: #f6f6f6;
    --bg-footer: #23272A;
    --dark-text: #000000;
    --bg-header: #2a5ee8;
    --light-bg: #7289da;
}