/* 
    RESET
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    HEADER
*/



.header-row1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 15px;
}

.logo, .login {
    width: 20%;
    padding: 10px;
}

.links {
    width: 60%;
    text-align: center;
    padding: 10px;
}

.links a {
    text-decoration: none;
    color: black;
}

.header-row2 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-row2 .empty {
    width: 900px;
    height: 400px;
}

/* 
    MAIN
*/

.main-row1{
    max-width: 1200px;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-row1 .main-column1{
    width: 60%;
    height: 500px;
}

.main-row1 .main-column2{
    width: 40%;
    height: 500px;
}

.main-row2{
    max-width: 1200px;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-row2 .main-column1{
    width: 40%;
    height: 500px;
}

.main-row2 .main-column2{
    width: 60%;
    height: 500px;
}

.main-row3{
    max-width: 1200px;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-row3 .main-column1{
    width: 60%;
    height: 500px;
}

.main-row3 .main-column2{
    width: 40%;
    height: 500px;
}

.main-row4{
    max-width: 1200px;
    margin: auto;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-column3{
    width: 100%;
    height: 800px;
}



/* 
    FOOTER
*/



/* 
    DEBUG
*/

.debug header  {
    background-color: #ADD8E6;
}

.debug header .logo, .links, .login {
    background-color: #DAA520;
    border: 1px dashed black;
}

.debug .header-row2 {
    background-color: #00008B;
}

.debug .header-row2 .empty {
    border: 1px dashed black;
    background-color: #EE82EE;
}

.debug .main-row1 .main-column1{
    background-color: #1E90FF;
    border: 1px dashed black;
}

.debug .main-row1 .main-column2{
    background-color: #FFC0CB;
    border: 1px dashed black;
}

.debug .bg-grey{
    background-color: grey;
}

.debug .main-row2 .main-column1{
    background-color: #FFC0CB;
    border: 1px dashed black;
}

.debug .main-row2 .main-column2{
    background-color: #1E90FF;
    border: 1px dashed black;
}

.debug .main-row3 .main-column1{
    background-color: #1E90FF;
    border: 1px dashed black;
}

.debug .main-row3 .main-column2{
    background-color: #FFC0CB;
    border: 1px dashed black;
}

.debug .main-column3{
    background-color: #228B22;
    border: 1px dashed black;
}